<% layout("layouts/boilerplate.ejs") %>
<body>
  <div class="edit-form">
    <form
      action="/products/update/<%= product._id  %>"
      method="post"
      id="edit-form"
    >
      <h1>Edit Product</h1>
      <input
        name="ProductName"
        type="text"
        placeholder="Product Name"
        value="<%= product.ProductName  %>"
        id="ProductName"
      />
      <input
        name="ProductPrice"
        type="text"
        placeholder="Product Price"
        value="<%= product.ProductPrice  %>"
        id="ProductPrice"
      />
      <input
        name="Description"
        type="text"
        placeholder="Discription"
        value="<%= product.Description  %>"
        id="Description"
      />
      <input
        name="imgUrl"
        type="text"
        placeholder="image Url"
        value="<%= product.imgUrl  %>"
        id="imgUrl"
      />
      <div class="btn-update">
        <button id="update" onclick="updateProduct(event,'<%= product._id %>')">
          Update
        </button>
      </div>
    </form>
  </div>
  <script>
    async function updateProduct(event, id) {
      event.preventDefault();
      const editForm = document.getElementById("edit-form");
      console.log(editForm);
      const formData = new FormData(editForm); // Correct way to create FormData

      const userData = {
        ProductName: formData.get("ProductName"),
        ProductPrice: formData.get("ProductPrice"),
        Description: formData.get("Description"),
        imgUrl: formData.get("imgUrl"),
      };

      try {
        const response = await axios.put(`/products/update/${id}`, userData, {
          withCredentials: true,
          headers: { "Content-Type": "application/json" },
        });

        if (response.data.success) {
          showSuccessAlert(response.data.message, "Please wait");
          setTimeout(() => {
            location.replace("/");
          }, 5000);
        }
      } catch (error) {
        showErrorAlert(error.response.data.message);
      }
    }
  </script>
</body>
