<% layout("layouts/boilerplate.ejs") %>
<body>
  <h1
    class="text-xl font-bold text-center !my-5 text-[var(--color-primary)] uppercase"
  >
    User Queries
  </h1>

  <!-- cards -->
  <section class="grid grid-cols-3 gap-1 !p-5">
    <% if (AllQuery && AllQuery.length){ %> <% for (let query of AllQuery) { %>
    <div
      class="bg-white w-[300px] flex justify-end !p-[7px] rounded-[8px] shadow-2xs !my-3"
    >
      <div class="text-start">
        <h1 class="font-semibold"><%= query.name %></h1>
        <h4 class="font-medium"><%= query.email %></h4>
        <h4 class="font-medium"><%= query.phone %></h4>
        <hr class="!my-2" />
        <p><%= query.description %></p>
      </div>
      <button
        class="w-[20px] h-[20px] bg-black rounded-[50%] flex items-center justify-center hover:cursor-pointer hover:bg-white border-[2px] hover:border-gray-600 delete-query"
      >
        <i
          class="ri-close-line text-white hover:text-black"
          id="<%= query._id  %>"
        ></i>
      </button>
    </div>
    <% } %> <% } %>
  </section>

  <script>
    const deleteBtns = document.querySelectorAll(".delete-query");
    deleteBtns.forEach((button) => {
      button.addEventListener("click", async (e) => {
        if (confirm("Are you sure to delete this query?")) {
          try {
            const id = e.target.id;
            const response = await axios.delete(`/queries/delete/${id}`);
            if (response.data.success) {
              showSuccessAlert(response.data.message);
              setTimeout(() => {
                window.location.replace("/queries");
              }, 5000);
            }
          } catch (error) {
            showErrorAlert(error.response.data.message);
          }
        } else {
          console.log("canceled");
        }
      });
    });
  </script>
</body>
