<% layout("layouts/partials.ejs") %>
<body>
  <% if (cartItems && cartItems.length) { %>
  <section class="grid gap-4 !px-4 sm:!px-6">
    <!-- items -->
    <div class="w-full max-w-[1000px] bg-white rounded-[3px] !mx-auto !mt-7">
      <% for(let item of cartItems) { %>
      <div class="flex flex-wrap sm:flex-nowrap items-center gap-5 !p-1.5">
        <div
          class="h-[100px] w-[100px] sm:h-[150px] sm:w-[150px] mx-auto sm:mx-0"
        >
          <img
            src="<%= item.imgUrl %>"
            class="h-full w-full object-cover rounded-[10px]"
            alt="product-image"
          />
        </div>
        <div class="flex-1 min-w-0">
          <h1 class="text-lg sm:text-xl font-bold !my-1 break-words">
            <%= item.ProductName %>
          </h1>
          <p class="text-sm sm:text-[15px] font-medium !my-1 break-words">
            <%= item.Description %>
          </p>
          <span
            id="price-span_<%= item._id%>"
            class="text-[var(--color-success)] text-[18px] font-semibold price_span block !mb-2"
            >₹ <%= item.updatedProductPrice %>.00</span
          >
          <div class="flex items-center gap-4 qty-div !my-1">
            <button
              id="<%= item._id %>"
              class="bg-[var(--color-primary)] w-[30px] h-[30px] rounded-full text-white font-semibold text-[18px] flex items-center justify-center hover:cursor-pointer qty-minus"
            >
              -
            </button>
            <span id="qty_<%= item._id  %>" class="font-semibold text-[18px]"
              ><%= item.quantity %></span
            >
            <button
              id="<%= item._id  %>"
              class="bg-[var(--color-primary)] w-[30px] h-[30px] rounded-full text-white font-semibold text-[18px] flex items-center justify-center hover:cursor-pointer qty-add"
            >
              +
            </button>
          </div>
        </div>
      </div>
      <div class="h-[1px] bg-gray-300 !mt-2 !mx-1"></div>
      <% } %>
    </div>

    <!-- checkout  -->
    <div
      class="w-full max-w-[1000px] flex flex-wrap sm:flex-nowrap items-center justify-between !mb-7 !mx-auto bg-white !py-5 !px-4 sm:!px-7 rounded-[5px] gap-4"
    >
      <span id="total-price" class="font-semibold text-xl sm:text-2xl"
        >₹ 1350.00</span
      >
      <button
        id="go-next"
        class="bg-green-700 h-[40px] w-[40px] rounded-[50%] flex items-center justify-center hover:bg-black hover:cursor-pointer"
      >
        <i class="bx bx-right-arrow-alt text-xl text-white"></i>
      </button>
    </div>
  </section>
  <% } %>

  <!-- check if cart is empty -->
  <% if (cartItems.length < 1) { %>
  <div class="flex items-center justify-center h-screen !px-4">
    <div class="text-center max-w-md">
      <img
        src="/assets/cart.png"
        alt="Empty cart"
        class="!mx-auto w-35 sm:w-40 md:w-55 lg:w-80"
      />
      <h1
        class="!mt-6 text-3xl font-bold sm:text-4xl md:text-5xl text-[var(--color-primary)]"
      >
        Your cart is empty!!
      </h1>
    </div>
  </div>

  <% } %>

  <script src="/js/cart_page.js"></script>
</body>
